*{
    border: none;
}

body{
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 15%;
    background: linear-gradient(to right, red , yellow);
}

h1{
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
}

button:focus { outline-style: none; }

button{
    font: 900 1em 'Raleway' , sans-serif;
    background: rgba(13, 13, 13, 0.2);
    border: none;
    text-decoration: none;
    white-space: pre;
    border-radius: 4em;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;   
}